<!-- /views/get_size.erb -->

<p>Please select the board size:</p>
<form method="post" action="game_setup">  <!-- action ~ "post '/game_setup' do" in app.rb -->
  <select type="text" name="size">  <!-- text == string, name ~ "size = params[:size]" in app.rb -->
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
  </select>
  <input type="submit" value="Submit">  <!-- button to submit size to "post '/game_setup' do" route -->
</form>