<!-- /views/player_type.erb -->

<div>
  <p>Got it!</p>
  <p>X is <u><%= p1_type %></u> and O is <u><%= p2_type %></u>.</p>
  <p>Press <b>Play</b> to begin the game!</p>
  <button><a href=<%= route %>>Play</a></button>
</div>