<!-- /views/play_human.erb -->

<h3>Round <%= round %></h3>
<p><%= feedback %></p>
<p>Please select a location and press <b>Submit</b>.</p>
<form method="post" action="result_human">
  <select type="text" name="location">
    <option value="t1">t1 (top left)</option>
    <option value="t2">t2 (top center)</option>
    <option value="t3">t3 (top right)</option>
    <option value="m1">m1 (middle left)</option>
    <option value="m2">m2 (middle center)</option>
    <option value="m3">m3 (middle right)</option>
    <option value="b1">b1 (bottom left)</option>
    <option value="b2">b2 (bottom center)</option>
    <option value="b3">b3 (bottom right)</option>
  </select>
  <input type="submit" value="Submit">
</form>