<!-- /views/start.erb -->

<p>Please select the player types:</p>
<form method="post" action="players">  <!-- action ~ "post '/guess' do" in app.rb -->
  <p>Player 1 (X):
    <select type="text" name="player_type[p1_type]">  <!-- text == string, name ~ "@num = params[:player_type]" in app.rb -->
      <option value="Human">Human</option>
      <option value="Perfect">Perfect</option>
      <option value="Random">Random</option>
      <option value="Sequential">Sequential</option>
      <option value="Unbeatable">Unbeatable</option>
    </select>
  </p>
  <p>Player 2 (O):
    <select type="text" name="player_type[p2_type]">  <!-- text == string, name ~ "@num = params[:player_type]" in app.rb -->
      <option value="Human">Human</option>
      <option value="Perfect">Perfect</option>
      <option value="Random">Random</option>
      <option value="Sequential">Sequential</option>
      <option value="Unbeatable">Unbeatable</option>
    </select>
  </p>
  <input type="submit" value="Submit">  <!-- button to submit letter to "post '/players' do" route -->
</form>